@model LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@ViewData["Title"] - AutoRepairCRM</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/AutoRepairCRM.styles.css" asp-append-version="true"/>
    </head>
</head>
<body>
<div class="wrapper">
    <div class="text-center mt-4 name">
        Login
    </div>
    <form class="p-3 mt-3" method="post">
        <div class="form-field d-flex flex-column align-items-center">
            <span class="far fa-user"></span>
            <input asp-for="@Model.Email" placeholder="Email"/>
            <span asp-validation-for="@Model.Email"></span>
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input asp-for="@Model.Password" type="password" placeholder="Password"/>
            <span asp-validation-for="@Model.Password"></span>
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<partial name="_ValidationScriptsPartial"/>
</body>
</html>