@model IEnumerable<CarViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Personal Vehicles</h2>
@if (!Model.Any())
{
    <h3>No cars in database!</h3>
}
else
{
    <table class="table">
        <tr>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Litre Engine</th>
            <th scope="col">License Plate</th>
            <th scope="col">Fuel Type</th>
        </tr>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>@car.Litre</td>
                <td>@car.LicensePlate</td>
                <td>@car.FuelType</td>
                <td>
                    <a asp-controller="Customer" asp-action="ViewServices" class="btn btn-secondary" 
                       asp-route-carId="@car.CarId" asp-route-customerId="@car.CustomerId">Services</a>
                </td>
            </tr>
        }
    </table>
}