@if (User.IsInRole("Owner"))
{
    <li class="mt-2 mb-2 list-item">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action py-1 ripple @Html.ActiveClass("Home", "Index", "pressed")">
            <i class="fa-solid fa-house-chimney m-2">
            </i
            ><span>Home</span>
        </a> 
    </li>
    <li class="mt-2 mb-2 list-item">
        <a asp-area="Admin" asp-controller="Customer" asp-action="GetPersonal" class="list-group-item list-group-item-action py-1 ripple @Html.ActiveClass("Home", "Test", "pressed")">
            <i class="fa-solid fa-user-plus m-2"></i><span>Add Customer</span>
        </a>
    </li>
    <li class="mt-2 mb-2 list-item">
        <a asp-controller="Home" asp-action="Test" class="list-group-item list-group-item-action py-1 ripple @Html.ActiveClass("Home", "Test", "pressed")">
            <i class="fa-solid fa-shield m-2">
            </i
            ><span>Privacy</span>
        </a>
    </li>
}
else if (User.IsInRole("Customer"))
{
    <li class="mt-2 mb-2 list-item">
        <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action py-1 ripple @Html.ActiveClass("Customer", "GetPersonal", "pressed")">
            <i class="fa-solid fa-house-chimney m-2">
            </i
            ><span>Home</span>
        </a>
    </li>
    <li class="mt-2 mb-2 list-item">
        <a asp-controller="Home" asp-action="Test" class="list-group-item list-group-item-action py-1 ripple @Html.ActiveClass("Home", "Test", "pressed")">
            <i class="fa-solid fa-shield m-2">
            </i
            ><span>Privacy</span>
        </a>
    </li>
}