@model AllCustomerQueryModel

@{
    ViewBag.Title = "Cutomers";
    Layout = "_AdminLayout";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-6 justify-content-md-start">
        <form method="get">
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="SearchTerm"></label>
                    <input asp-for="SearchTerm" class="form-control" placeholder="...">
                </div>

                <div class="col-md-2">
                    <div class="form-group p-2 my-auto mt-3">
                        <input type="submit" value="Search" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 d-flex justify-content-md-end">
        <div>
            <a asp-controller="Customer" asp-action="Add" class="btn btn-success">Add new</a>
        </div>
    </div>
</div>
@if (!Model.Customers.Any())
{
    <h3>No customers in database!</h3>
}
else
{
    <table class="table">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone</th>
        </tr>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Phone</td>
                <td>
                    <a asp-controller="Customer" asp-action="Details" class="btn btn-secondary"
                       asp-route-id="@customer.Id">
                        Show cars
                    </a>
                </td>
                <td>
                    <a asp-controller="Customer" asp-action="Edit" class="btn btn-info"
                       asp-route-id="@customer.Id">
                        Edit
                    </a>
                </td>
            </tr>
        }
    </table>

    <div class="row mb-5">
        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Customer"
               asp-action="All"
               asp-route-currentPage="@(Model.CurrentPage - 1 == 1 ? 1 : Model.CurrentPage - 1)"
               asp-route-searchTerm="@Model.SearchTerm">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary
               @(Math.Ceiling((decimal)Model.TotalCustomers / AllCustomerQueryModel.CustomersPerPage) == Model.CurrentPage || !Model.Customers.Any() ? "disabled" : string.Empty)"
               asp-controller="Customer"
               asp-action="All"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-searchTerm="@Model.SearchTerm">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
}